<div>
    <table id="makes">
        <tr ng-repeat="x in makes ">
            <td>{{x.ID}}</td>
            <td>{{x.Name}}</td>
            <td>{{x.Abrv}}</td>
        </tr>
    </table>


    <!--<div ng-controller='MakeController'>
        <button ng-click="getAllMake()">Get Makes</button>
        <ul>
            <li ng-repeat="make in makes">
                {{make.Id}}}} {{ make.Name}} ({{ make.Abrv}})
            </li>
        </ul>
        <div>{{error}}</div>
    </div>-->


    <a href="../">Back</a>
</div>
