<div ng-app="app" ng-controller="controllerMake">
    <hr />
    <h3>
        Details
    </h3>
    <div ng-init="getMake(id)">
        <!--<label>ID {{data.Id}}</label>-->
        ID: <input ng-model="data.Id" ng-disabled="true">
        <br>
        Name: <input ng-model="data.Name" ng-disabled="true">
        <br>
        Description: <input ng-model="data.Abrv" ng-disabled="true">
        <br>
    </div>

    <a ng-href="#!make" class="btn btn-warning btn-sm">Back</a>
    <a ng-href="#!/edit/{{data.Id}}" class="btn btn-primary btn-sm">Edit</a>
    <a ng-click="deleteMake(id)" ng-href="#!make" class="btn btn-danger btn-sm">Delete</a>
</div>