<div ng-controller="controllerMake as makeCtrl" ng-init="makeCtrl.getDataMakeId(id)">
    <hr />
    <h3>
        Edit Maker {{data.Name}}
    </h3>

    <div class="container">

        <form name="edit.userForm" ng-submit="makeCtrl.updateDataMake(makeCtrl.data)" ng-h>
            <div class="form-control">
                <label>ID</label>
                <input type="text" ng-model="makeCtrl.data.Id" ng-disabled="true">
            </div>

            <div class="form-control">
                <label>Name</label>
                <input type="text" ng-model="makeCtrl.data.Name">
            </div>

            <div class="form-control">
                <label>Description:</label>
                <input type="text" ng-model="makeCtrl.data.Abrv">
            </div>

            <button type="submit">Save</button>
            <!--<a ng-href="#!details/{{makeCtrl.id}}" class="btn btn-warning">Back</a>-->
        </form>


        <h2>{{data}}</h2>

    </div>
</div>
