<!DOCTYPE html>
<html>
<head>
</head>

<body ng-app="app" ng-controller="controllerWS"> <!--ng-init="getMake(id)>"-->
    <hr />
    <h3>
        Edit Maker {{makeData.Name}}
    </h3>

    <div class="form-control">
        <form novalidate ng-submit="edit()">
            <label>
                ID wine:
                <input type="text" ng-model="makeData.id" ng-disabled="true">
            </label>
            <br>
            <label>
                Name wine:
                <input type="text" ng-model="makeData.name">
            </label>
            <br>
            <label>
                Percentage wine:
                <input type="text" ng-model="makeData.abrv">
            </label>
            <br>

            <input type="submit" class="btn btn-primary" value="Change">
            <a ng-href="#!make" class="btn btn-warning">Back</a>
        </form>


            <!--<a ng-click="createMake(makeData)" ng-href="#!make" class="btn btn-primary">Submit</a>-->
            
    </div>
</body>

</html>