<div ng-controller="controllerMake" ng-init="getMake(id)">
    <hr />
    <h3>
        Edit Maker {{data.Name}}
    </h3>

    <div class="form-control">
        <form>
            <label>ID</label>
            <input type="text" ng-model="data.Id" ng-disabled="true">
            <br>

            <label>Name</label>
            <input type="text" ng-model="data.Name">
            <br>

            <label>Description:</label>
            <input type="text" ng-model="data.Abrv">
            <br>

            <a ng-click="updateMake(data)" ng-href="#!details/{{id}}" class="btn btn-primary">Change</a>
            <a ng-href="#!details/{{id}}" class="btn btn-warning">Back</a>
        </form>
    </div>
</div>
